/* Landing Page Styles */

.landing-container {
  position: relative;
  height: 90vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-btn {
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  background-color: #FFD700;
  border: none;
  color: #000;
}

.landing-btn:hover {
  background-color: #FFA500;
  color: #fff;
}

.recipe-card {
  width: 100%; /* Responsive */
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.recipe-card ul {
  list-style-type: none;
  padding: 0;
}

.recipe-card ul li {
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .landing-btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
  }

  .recipe-card {
    width: 90%; /* Full width on mobile */
    margin: 0 auto;
  }
}
